apiVersion: v1
kind: Secret
metadata:
  name: database-url
  labels: {{ .Values.labels | toYaml | nindent 4 }}
type: Opaque
stringData:
  database_url: {{ .Values.database.url | default "postgres://user:password@hostname/dbname" | quote }}
